{{form_start(form)}}
<link href="{{asset('css/rayon.css')}}" rel="stylesheet">
        <div class="container">
            <div class="row">
               <div class="col-md-4 colotext">{{form_row(form.name)}}</div>
               <div class="col-md-4"></div>
               <div class="col-md-4 colotext">{{form_row(form.singer)}}</div>   
                 
            </div>
            <div class="row mt-4"></div>
            <div class="row">
               <div class="col-md-12 colotext">{{form_row(form.description)}}</div>   
            </div>
            <div class="row mt-4"></div>
            <div class="row">
               <div class="col-md-4 colotext">{{form_row(form.duration)}}</div>  
               <div class="col-md-4 colotext"></div>
               <div class="col-md-4 colotext">{{form_row(form.disk)}}</div> 
            </div>
            <button class="btn btn-primary mt-4 float-right">{{button | default('Enregistrer')}}</button>
        </div>          
{{ form_end(form) }}

