<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} L'ALBUMOTEK.{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">            
        <link href="{{asset('css/modern-business.css" rel="stylesheet')}}">
        <link href="{{asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="{{asset('device-mockups/device-mockups.min.css')}}">

        <!-- Custom styles for this template -->
        <link href="{{asset('css/principal.css')}}" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
       
    
    </head>
    <body>
           

           <div class="Albumotek">
                 <a class="navbar-brand js-scroll-trigger" href="{{path('accueil_show')}}"><span class="logotitle">L'ALBUMOTEK.</span></a>
            </div> 
            <!-- Navigation --> 
           <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainvar">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarScroll" style="margin-left: 30% !important; " id="titles">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll float-right" style="--bs-scroll-height: 100px;">
                        <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
                        <li class="nav-item float-left ">
  <a class="navbar-brand js-scroll-trigger" href="{{path('accueil_show')}}"><span class="iconsaccueil">L'ALBUMOTEK.</span></a>                        </li>
                        <li class="nav-item ">
                           <a class="nav-link active" aria-current="page" href="{{path('rayon_show')}}"><i class="fas fa-list iconsaccueil"></i></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link active" aria-current="page" href="{{path('realizer_show')}}"> <i class="fas fa-users iconsaccueil"></i></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link active" aria-current="page" href="{{path('disk_show')}}"> <i class="fas fa-compact-disc iconsaccueil"></i></a>
                           
                        </li>
                        <li class="nav-item">
                           <a class="nav-link active" aria-current="page" href="{{path('song_show')}}"> <i class="fas fa-music iconsaccueil"></i></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link active" aria-current="page" href="{{path('disk_show')}}"> <i class="fas fa-book iconsaccueil"></i></a>
                        </li>
                    </ul>
                   <!-- <form method="post" action="{{path('accueil_show')}}" class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    -->
                </div>
            </div>
            </nav>
    
        {% block body %}
        <!-- Bootstrap core JavaScript -->
        
        {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

    </body>

</html>
