{% extends "base.html.twig" %}
{% block body %}
<link href="{{asset('css/rayon.css')}}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" rel="stylesheet">
 
<div class="container"> 
              
    <div class="row">
        <div class="row">
            <div class="col-md-1 mt-4">
                 <h1>Bibliothèque</h1>
            </div>
            <div class="col-md-6 divfree">
                 
            </div>           
            
            <div class="col-md-5 ">
                {{ form_start(form) }}
                        <div class="row  mt-4  ">
                           <div class="col-md-8 ">
                                    {{form_row(form.mots)}}
                            </div>
                            <div class="col-md-4"> 
                             <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                            </div>
                                
                         </div>
                        
            
                {{ form_end(form) }} 
            </div>
        
             <table class="table table-light">
                    <thead class="thead-dark">
                        <tr> 
                            <th scope="col">Nom</th>
                            <th scope="col">Realisateur</th>
                            <th scope="col">Genere</th>
                            <th scope="col">Description</th>
                            <th scope="col"></th>                        
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                       {% for repositorydisk in repositoriesDisk %} 
                           
                                <tr>                        
                                    <td >{{repositorydisk.name}}</td>
                                    <td >{{repositorydisk.realizer.name}}</td>
                                    <td >{{repositorydisk.rayon.name}}</td>
                                    <td >{{repositorydisk.description}}</td>
                                    <td ></td>
                                    
                                    <td >
                                        
                                        
                                    </td>
                                </tr>
                            
                       {% endfor %} 
                        
                        
                    </tbody>
            </table> 
    </div>        
    
</div>

  
    
 {% endblock %}


