<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} L'ALBUMOTEK.{% endblock %}</title>
       
        

        <!-- Custom styles for this template -->
        <link href="{{asset('css/principal.css')}}" rel="stylesheet">
        
        <link href="{{asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
       
    
    </head>
    <body>
     
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="mainvar" >
             {% if app.user %} 
                
           
             
                <div style="border: 1 solid #fff">
                   
                    <a class="navbar-brand "  href="{{path('accueil_show')}}"><span class="logotitle"><img style="width:50px;border-radius:50%" src="{{asset('img/LAK1.PNG')}}" alt="">  L'ALBUMOTEK.</span></a>
                <div>
               
               
             {% else %}
                <div style="border: 1 solid #fff">
                    <a class="navbar-brand "  ><span class="logotitle"><img style="width:50px;border-radius:50%" src="{{asset('img/LAK1.PNG')}}" alt="">  L'ALBUMOTEK.</span></a>
                <div>
                
              {% endif %}  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            
                        </li>
                        <li class="nav-item">
                            
                        </li>
                        <li class="nav-item dropdown">
                            
                        </li>
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            
                        </li>
                        <li class="nav-item">
                            
                        </li>
                        <li class="nav-item dropdown">
                            
                        </li>
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                      
                    <ul class="navbar-nav mr-auto float-right"style="marging-left:20%">
                    {% if app.user %}
                        <li class="nav-item active">
                                    <a class="nav-link active" data-toggle="tooltip" title="Genres" aria-current="page" href="{{path('rayon_show')}}"><i class="fas fa-list iconsaccueil"></i></a>
                        </li>
                        <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tooltip" title="Realisateurs" aria-current="page" href="{{path('realizer_show')}}"> <i class="fas fa-users iconsaccueil"></i></a>
                        </li>
                        <li class="nav-item active">
                                    <a class="nav-link active" data-toggle="tooltip" title="Disques" aria-current="page" href="{{path('disk_show')}}"> <i class="fas fa-compact-disc iconsaccueil"></i></a>
                        </li>
                        <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tooltip" title="Chansons" aria-current="page" href="{{path('song_show')}}"> <i class="fas fa-music iconsaccueil"></i></a>
                        </li>
                        <li class="nav-item active">
                                    <a class="nav-link active" data-toggle="tooltip" title="Bibliothèque" aria-current="page" href="{{path('disk_biblioteque')}}"> <i class="fas fa-book iconsaccueil"></i></a>
                        </li>
                        
                      
                        {% endif %}
                    </ul>
                    
                    <ul class="navbar-nav  float-right">
                        
                        {% if not app.user %}
                            
                            <li class="nav-item active">
                                    <a class="nav-link active" aria-current="page" data-toggle="tooltip" title="Connexion" href="{{path('app_login')}}"><i class="fas fa-power-off iconsaccueil"></i> </a>
                            </li>
                            <li class="nav-item active">
                                    <a class="nav-link active" aria-current="page" data-toggle="tooltip" title="Inscription" href="{{path('app_register')}}"><i class="far fa-edit iconsaccueil"></i></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                    <a class="nav-link active"  aria-current="page" data-toggle="tooltip" title="Deconnexion" href="{{path('app_logout')}}"><i class="fas fa-sign-in-alt iconsaccueil "></i></a>
                            </li>
                           
                        {% endif %}
                        
                    
                    
                    </ul>
                    
                </div>
        </nav>  

           
    
        {% block body %}
        <!-- Bootstrap core JavaScript -->
        
        {% endblock %}
        <script>
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
        });
        </script>
    </body>

</html>
