{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-4">
       
       <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Creer un disque</h1>
            </div>
            <div class="col-md-2"></div>
        </div> 
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
               {{ include ('disk/_form.html.twig',{form:form,button:'Enregistrer'}) }} 
            </div>
            <div class="col-md-1"></div>
        </div> 
    </div>
{% endblock %}