{% extends "base.html.twig" %}
{% block body %}
<link href="{{asset('css/rayon.css')}}" rel="stylesheet">
    <div class="container classheader" >
        
          <article class="card w-50 divcenter" >
                <div class="card-header classheader"  >                               
                        <h4  class="card-title ">{{repositoryDisk.name}}</h4>                                
                </div>
                <div class="card-body bodycard">
                <!--vignettes-->
                        <div class="video-image w-100" >
                            <p class="card-text colortextbodycard" ><strong>Genre</strong>:{{repositoryDisk.rayon.name | lower}}</p>
                            <p class="card-text colortextbodycard" ><strong>Realisateur</strong>:{{repositoryDisk.realizer.name}}</p>
                            <p class="card-text colortextbodycard" ><strong>Date de creation</strong>: {{repositoryDisk.createat | date('d/m/y')}}</p>
                            
                        </div>
                        <div class="mt-4 classheader">
                                <p class="card-text " ><strong>Chansons</strong></p>
                        </div>
                        
                        <div class="mt-2 classheader">
                                {% for song in repositoryDisk.songs %}                                               
                                                    
                                    <div class="blocksinger ">
                                    {{song.name}}
                                    </div>
                                {% endfor %}
                                    
                        </div>
                </div>
            </article>
        
    <div>
      
    
{% endblock %}