{% extends "base.html.twig" %}
{% block body %}
<link href="{{asset('css/rayon.css')}}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" rel="stylesheet">
<div class="container">                 
    <div class="row">
            <div class="col-md-1">
                 <h1>Disques</h1>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4" style="text-align:center">
                 {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{message}}
                            </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-1 mt-4 ">
                 <a   href="{{path('disk_create')}}" class="btn btn-primary float-right ml-5"><i class="fas fa-plus-square "></i></a> 
            </div>
             <table class="table table-light">
                    <thead class="thead-dark">
                        <tr> 
                            <th scope="col">Nom</th>
                            <th scope="col">Realisateur</th>
                            <th scope="col">Genere</th>
                            <th scope="col">Description</th>
                            <th scope="col"></th>                        
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                       {% for repositorydisk in repositoriesDisk %} 
                           
                                <tr>                        
                                    <td >{{repositorydisk.name}}</td>
                                    <td >{{repositorydisk.realizer.name}}</td>
                                    <td >{{repositorydisk.rayon.name}}</td>
                                    <td >{{repositorydisk.description}}</td>
                                    <td ></td>
                                    
                                    <td >
                                        <a href ="{{path('disk_editer',{'id':repositorydisk.id})}}"> 
                                            <i style="font-size:1.2em" class="fas fa-user-edit"></i>
                                        </a>
                                         &nbsp;
                                         <form method="POST" action="{{path('disk_delete',{'id':repositorydisk.id})}}" 
                                        style="display:inline-block" onsubmit=" return confirm ('Etes vous vraiment sur ?') ">
                                        <input type="hidden" name="_method" value="DELETE"/>{# campo oculto que permite dar un metodo diferente al formulario que el metodo POST#}
                                        <input type="hidden" name="_token" value="{{csrf_token('delete' ~ repositorydisk.id)}}"/>
                                        <button  style="background:transparent!important;outline: none;"><i style="color:red;font-size:1.2em" class="fas fa-trash"> </i></button>
                                         </form>
                                        
                                    </td>
                                </tr>
                            
                       {% endfor %} 
                        
                        
                    </tbody>
                </table> 
    </div>        
    <div class="navigation">
        {{ knp_pagination_render(repositoriesDisk) }}
    </div>
</div>

  
    
 {% endblock %}


