{% extends 'base.html.twig' %}

{% block title %}L'ALBUMOTEK.{% endblock %}

{% block body %}
<link href="{{asset('css/formulaire.css')}}" rel="stylesheet">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(registrationForm) }}
     <div class="flex-container">
            <div class="form">
                <div class="form__section">
                    <h1 class="h3 mb-3 font-weight-normal colotext" style="color:#fff !important">S'inscrire</h1> 
                </div>
                <div class="form__section" style="color:#fff;text-align:left">
                    {{ form_row(registrationForm.email)}} 
                    
                </div>
                <div class="form__section" style="color:#fff;text-align:left">

                    {{ form_row(registrationForm.plainPassword)}}
                    
                </div>
                <div class="form__section" style="color:#fff;text-align:left">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                    
                <div class="form__section">
                    <input type="submit" class="form__input" value="S'inscrire" >
                </div>                   
                                    
            </div>
            <div class="form__img">
                <div class="img-container">
                    <img style="width:500px" src="{{asset('img/LAK1.PNG')}}" alt="">                                                 
                </div>
            </div>
    </div>
  {{ form_end(registrationForm) }}  
    

   {#  {{ form_end(registrationForm) }}


    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Adresse email',
        }
        ) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    #}
{% endblock %}
