{% extends "base.html.twig" %}
{% block body %}
<link href="{{asset('css/rayon.css')}}" rel="stylesheet">

<div class="container ">  
    <div class="card-columns" style="margin-bottom:5%;" >
        {% for repositoryDisk in repositoriesDisk %}
            <a href="{{path('disk_detail',{'id':repositoryDisk.id})}}">  
                <article class="card w-100 " >
                            <div class="card-header classheader"  >                               
                                    <h4  class="card-title ">{{repositoryDisk.name}}</h4>                                
                            </div>
                            <div class="card-body bodycard">
                            <!--vignettes-->
                                <div class="video-image w-100">
                                    <p class="card-text colortextbodycard" ><strong>Genre</strong>:{{repositoryDisk.rayon.name | lower}}</p>
                                    <p class="card-text colortextbodycard" ><strong>Realisateur</strong>:{{repositoryDisk.realizer.name}}</p>
                                    <p class="card-text colortextbodycard" ><strong>Date de creation</strong>: {{repositoryDisk.createat | date('d/m/y')}}</p>
                                    
                                </div>
                            </div>  

                </article>
            </a>    
        {% endfor %}   
            
        
    </div> 
     <div class="navigation">
        {{ knp_pagination_render(repositoriesDisk) }}
    </div>
 
</div>  
 
  
    
 {% endblock %}
