
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   
    .flex-container{
        display:flex;           
        align-items: center;
        flex-wrap: wrap;
        justify-content:center;
       
        margin:50px 60px;
        width: 90%;
        
            
    }
    .form{
        min-width: 400px;
        flex: 1;
        text-align: center;
        padding:30px;
        order:5;
    }
    .form__input{
        width: 100%;
        padding: 7px;
        margin: 7px 0;
        border: none;
        border-bottom: 5px solid #fdcc52;
        background:transparent;
        color: #fff;
        
    }
    .form__input::placeholder{        
        color: #fff;        
    }
    .form__input:focus{
        background:linear-gradient(to bottom, transparent,#222);
        border-bottom: 5px solid #fff;
        outline: none;
    }
    .form__input:hover{
        cursor:pointer
    }
    .form__img{
        display: flex; 
        padding: 10px;
        flex: 1;
        min-width: 400px;
        order:2;
    }
    .form__img img{
        width: 100%;
        
        border-radius: 50%;
        background-color: #fff;
        padding:20px;
        
    }

    .img-container{
        padding: 20px;
        margin: auto;
    }
    .form textarea{
        min-height: 200px;
        resize: none;
        
    }
    .form input[type="submit"]{
        border-bottom: none;
        background-color:   #fdcc52;
        padding: 12px;

    }   
    
