*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    color:#fff!important;
    text-align:center;
   
}

.colotext{
    color:#fff !important;
}

article{
       
    width:50% !important;
    height:auto!important;
    margin:10px;
    border-radius: 5% !important;
    
}
.bodycard{
 
  background-color:#fdcc52;
  text-align:justify;
  font-size: 1em;
  background-image: url("../img/Image1.png");
 background-size: 100% 100%;
 border-radius: 10% !important;

}
.classheader{
    text-align: center!important;
    color:#000;
}
.colortextbodycard{
    color:#000 !important;
}

.blocksinger{
    display:inline-block;
    margin: 20px;
   
}
.divcenter{
    margin: auto;
}
.iconsaccueil{
    color: #fcbd20 !important;  
    
  }
.divfree{
    width: 100%;
}

.overflowcontainer{
    position: fixed;
   
  
}
