{% extends "base.html.twig" %}


{% block body %}
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Modification du genre musicale</h1>
            </div>
            <div class="col-md-2"></div>
        </div> 
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{ include ('rayon/_form.html.twig',{form:form,button:'Modifier'}) }} 
            </div>
            <div class="col-md-2"></div>
        </div>       
        
    </div>
{% endblock %}