{% extends "base.html.twig" %}
{% block body %}
<link href="{{asset('css/rayon.css')}}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
<div class="container">                 
    <div class="row">
            <div class="col-md-1">
                 <h1>Realisateurs</h1>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4" style="text-align:center">
                 {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{message}}
                            </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-1 mt-4 ">
                 <a   href="{{path('realizer_create')}}" class="btn btn-primary float-right ml-5"><i class="fas fa-plus-square "></i></a> 
            </div>
             <table class="table table-light">
                    <thead class="thead-dark">
                        <tr> 
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Disques réalisés</th>
                            <th scope="col">Description</th>
                            <th scope="col"></th>                        
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                       {% for repositoryRealizer in repositoriesRealizer %} 
                           
                                <tr>                        
                                    <td >{{repositoryRealizer.name}}</td>
                                    <td >{{repositoryRealizer.lastName}}</td>
                                    <td >{{repositoryRealizer.email}}</td>
                                    <td >{{repositoryRealizer.telephone}}</td>
                                    <td >{{repositoryRealizer.diskRealizer}}</td>
                                    <td >{{repositoryRealizer.description}}</td>
                                    <td >
                                    <a data-toggle="tooltip" title="Editer" href ="{{path('realizer_editer',{'id':repositoryRealizer.id})}}"> 
                                            <i style="" class="fas fa-user-edit"></i>
                                        </a>
                                    </td>
                                    <td >
                                    
                                         <i data-toggle="tooltip" title="Supprimer" data-toggle="modal" data-target="#exampleModal{{repositoryRealizer.id}}" style="color:red;cursor:pointer;" class="fas fa-trash"></i>

                                    

                                       

                                         <!-- otra forma de button sin ventana modal
                                         <form method="POST" action="{{path('realizer_delete',{'id':repositoryRealizer.id})}}" 
                                                style="display:inline-block" onsubmit=" return confirm ('Etes vous vraiment sur ?') ">
                                                <input type="hidden" name="_method" value="DELETE"/>{# campo oculto que permite dar un metodo diferente al formulario que el metodo POST#}
                                                <input type="hidden" name="_token" value="{{csrf_token('delete' ~ repositoryRealizer.id)}}"/>
                                                <button  style="background:transparent!important;outline: none;"><i style="color:red;font-size:1.2em" class="fas fa-trash"> </i></button>
                                         </form>
                                        -->
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{repositoryRealizer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                        data-backdrop="static"  >
                                        <div class="modal-dialog " role="document">
                                            <div class="modal-content">
                                            <div class="modal-header " style="background-color: #c82333;">
                                                <h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Suppression d'un client</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                        Vous êtes sûr de vouloir supprimer le realisateur : <strong>{{repositoryRealizer.name}}</strong> 
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                                                <form method="POST" action="{{path('realizer_delete',{'id':repositoryRealizer.id})}}" 
                                                style="display:inline-block" onsubmit=" return confirm ('Etes vous vraiment sur ?') ">
                                                <input type="hidden" name="_method" value="DELETE"/>{# campo oculto que permite dar un metodo diferente al formulario que el metodo POST#}
                                                <input type="hidden" name="_token" value="{{csrf_token('delete' ~ repositoryRealizer.id)}}"/>
                                                <button  class="btn btn-outline-danger">OUI</button>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                        </div>  
                                        
                                    </td>
                                </tr>
                            
                       {% endfor %}  
                        
                        
                    </tbody>
                </table> 
    </div>        
    <div class="navigation">
        {{ knp_pagination_render(repositoriesRealizer) }}
    </div>
</div>

  
    
 {% endblock %}
