{% extends 'base.html.twig' %}

{% block title %}L'ALBUMOTEK.{% endblock %}

{% block body %}
<link href="{{asset('css/rayon.css')}}" rel="stylesheet">
<link href="{{asset('css/formulaire.css')}}" rel="stylesheet">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="flex-container">
                        <div class="form">
                            <div class="form__section">
                                <h1 class="h3 mb-3 font-weight-normal colotext" >Se connecter</h1> 
                            </div>
                            <div class="form__section">
                                
                                <input type="email" value="{{ last_username }}" placeholder="Email ..." name="email" id="inputEmail" class="form__input" required autofocus>

                            </div>
                            <div class="form__section">
                                
                                <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form__input" required>  
                            </div>
                            <div class="form__section">
                                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                            </div>
                              
                            <div class="form__section">
                                <input type="submit" class="form__input" value="Envoyer" >
                            </div>                   
                                             
                        </div>
                        <div class="form__img">
                            <div class="img-container">
                                <img style="width:500px" src="{{asset('img/LAK1.PNG')}}" alt="">                
                                              
                         </div>
                               
                        </div>
    </div>


    
</form>
{% endblock %}
